@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Mea+Culpa&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
--Lime: hsl(61, 70%, 52%);
--Red: hsl(4, 69%, 50%);

--White: hsl(0, 0%, 100%);
--Slate-100: hsl(202, 86%, 94%);
--Slate-300: hsl(203, 41%, 72%);
--Slate-500: hsl(200, 26%, 54%);
--Slate-700: hsl(200, 24%, 40%);
--Slate-900: hsl(202, 55%, 16%) ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--Slate-700);
}
main{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}
header{
    padding-bottom: 5px;
}
h1{
    margin-bottom: 10px;
}
header > h1 {
    font-size: 26px;
    color: var(--Slate-900);
}
header > a {
    display: block;
    font-size: 16px;    
    color: var(--Slate-500);
    font-weight: 500;
    text-decoration: underline;
}
section#calculator{
    order: 2;
    padding: 20px;
}
section#calculator > form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: inherit;
    gap: 1em;
    flex: 1 1 100px;
}
input{
    color: var(--Slate-900);
}
div.type > div,
#submit > button
{
    padding: 10px;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid var(--Slate-500);
}
input[type="number"]{
    border: none;
    font-size: 1.2em;
    font-weight: 600;
    text-indent: 5px;
    padding: 10px;
    width: 100%;
}
.LibraEsterlina:hover,.years:hover,.por-rate:hover{
    border: 1px solid var(--Slate-900);
    
}
input[type="number"]:focus-within{
    outline: none;
}
div.cal div:has(input:focus){
        border: 1px solid var(--Lime);
}
#libra:has(+ input[type="number"]:focus),
#y:has(+ input[type="number"]:focus),
#porcent:has(+ input[type="number"]:focus)
{
    background-color: var(--Lime);
}

.LibraEsterlina,.years,.por-rate{
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 0px;
    border-radius: 6px;
    border: 1px solid var(--Slate-500);

    
}
#libra,#y,#porcent{
    cursor: pointer;
    align-self: center;
    padding: 15px;
    background-color: var(--Slate-100);
    font-weight: 800;
}
#y,#porcent{
    order: 2;
}
div.cal{
    gap: 1em;
    display: flex;
    flex-flow: column wrap;
}
div.cal > label{
    margin-top: 10px;
}
div.cal > label,div.type > p{
    font-weight: 700;
}
div.type{
    gap: 20px;
    display: flex;
    flex-flow: column wrap  ;
}

div.type > div{
    text-align: left;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}
div.type > div:hover{
    border: 1px solid var(--Lime);
}
div.type label{
    display: inline-block;
    width: 100%;
    height: 100%;
}
span {
    color: var(--Slate-900);
    display: inline-block;
    margin-left: 10px;
}
input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #838383;
    border-radius: 50%;
    position: relative;
}
input[type="radio"]:checked{
    border: 1px solid var(--Lime);
}
div.type > div:has(input:checked){
    background-color: lightyellow;
    border: 1px solid var(--Lime);
}
input[type="radio"]:checked::before{
    content: "";
    background-color: var(--Lime);
    color: var(--Lime);
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    translate: -50%  -50%;
}
#submit{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 100%;
    background-color: var(--Lime);
    border: none;
    font-weight: 700;
}
#submit:hover{
    background-color: hsla(61, 70%, 52%, 0.445);
}
#submit > button{
    border: none;
    background-color: transparent;
    
}
#submit > img{
    display: block;
    width: 24px;
    height: 24px;
}



section#result{
    order: 2;
    background-color: var(--Slate-900);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex: 1 1 100px;
    padding: 20px;
}
#result > h1 {
    color: var(--White);
    font-size: 22px;
}
#result > p{
    color: var(--Slate-500);
    font-size: 0.9rem;
}
div.illu{
    width: 192px;
    height: 192px;
    background-color: transparent;
    background-image: url(../images/illustration-empty.svg);
    background-position: center center;
    background-size: cover;
}
/* JAVASCRIPT*/
p.required{
    color: var(--Red);
}