@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Mea+Culpa&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
--Lime: hsl(61, 70%, 52%);
--Red: hsl(4, 69%, 50%);

--White: hsl(0, 0%, 100%);
--Slate-100: hsl(202, 86%, 94%);
--Slate-300: hsl(203, 41%, 72%);
--Slate-500: hsl(200, 26%, 54%);
--Slate-700: hsl(200, 24%, 40%);
--Slate-900: hsl(202, 55%, 16%) ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    padding: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--Slate-700);
}
header, h1{
    margin-bottom: 10px;
}
header > h1 {
    font-size: 26px;
    color: var(--Slate-900);
}
header > a {
    font-size: 16px;    
    color: var(--Slate-700);
}
section#calculator{
    height: 100vh;
}
section#calculator > form{
    display: flex;
    height: 100vh;
    flex-flow: column wrap;
    justify-content: flex-start;
    gap: 1em;
    flex: 1 1 100px;
}
input{
    color: var(--Slate-900);
}
input[type="number"],
div.type > div,
input[type="submit"]
{
    padding: 10px;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid var(--Slate-700);
}
#LibraEsterlina{
    position: relative;
}
#libra{
    position: absolute;
    left: 10px;
    top: 10px;
}
div.cal{
    gap: 1em;
    display: flex;
    flex-flow: column wrap;
}
div.type{
    gap: 10px;
    display: flex;
    flex-flow: column wrap  ;
}
div.type > div{
    text-align: left;
    padding: 10px;
    background-color: transparent;
}
div.type  label{
    color: var(--Slate-900);
    display: inline-block;
    text-indent: 10px;
}
input[type="submit"]{
    border-radius: 25px;
    width: 100%;
    background-color: var(--Lime);
    border: none;
    font-weight: 700;
}
#submit{
    position: relative;
}
#submit > img{
    position: absolute;
    left: 18px;
    top: 10px;
}



section#result{
    background-color: var(--Slate-500);
    height: 100vh;
}
